{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      </div>
    <div class="container-fluid mt--7">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                  <div class="col">
                  <form method="post">
                    {% csrf_token %}
                      <table>
                    {{ form|crispy }}</table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  </div>
                  <div class="col">
                      <img src="/static/contact-us.png" width=80%>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>

      {% include "includes/footer.html" %}

</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
