{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--9">
      <div class="card bg-secondary shadow border-0">
            <div class="card-body">
<div class="jumbotron text-center">
<h1>Stock Forecast Alert</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Silver</h3>
        <p><ul>
      <li>AI Based</li>
  <li>1 Forecasts</li>
  <li>%80 Succes Rate</li>
    </ul></p>
      <a href="{% url 'register' %}1/">Free</a>
    </div>
    <div class="col-sm-3">
      <h3>Gold</h3>
        <p><ul>
      <li>AI Based</li>
  <li>10 Forecasts</li>
  <li>Mail Alert</li>
  <li>%80 Succes Rate</li>
    </ul></p>
      <a href="{% url 'register' %}2/">Buy</a>
    </div>
    <div class="col-sm-3">
      <h3>Platinium</h3>
        <p><ul>
      <li>AI Based</li>
  <li>50 Forecasts</li>
  <li>Mail Alert</li>
  <li>SMS Alert</li>
  <li>%80 Succes Rate</li>
    </ul></p>
      <a href="{% url 'register' %}3/">Buy</a>
    </div>
          <div class="col-sm-3">
      <h3>Diamond</h3>
              <p><ul>
            <li>AI Based</li>
  <li>Unlimited Forecasts</li>
  <li>Mail Alert</li>
  <li>SMS Alert</li>
  <li>%80 Succes Rate</li>
    </ul></p>
      <a href="{% url 'register' %}4/">Buy</a>
    </div>
  </div>
</div></div></div></div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
