<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    Stock Forecast - Home Page
  </title>

  <!-- Favicon - loaded as static -->
  <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>


<div class="jumbotron text-center">
  <h1>Stock Forecast Alert</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Silver</h3>
        <p><ul>
  <li>1 Forecasts</li>
  <li>%80 Succes Rate</li>
    </ul></p>
      <a href="{% url 'register' %}1/">Free</a>
    </div>
    <div class="col-sm-3">
      <h3>Gold</h3>
        <p><ul>
  <li>10 Forecasts</li>
  <li>Mail Alert</li>
  <li>%80 Succes Rate</li>
    </ul></p>
      <a href="{% url 'register' %}2/">Buy</a>
    </div>
    <div class="col-sm-3">
      <h3>Platinium</h3>
        <p><ul>
  <li>50 Forecasts</li>
  <li>Mail Alert</li>
  <li>SMS Alert</li>
  <li>%80 Succes Rate</li>
    </ul></p>
      <a href="{% url 'register' %}3/">Buy</a>
    </div>
          <div class="col-sm-3">
      <h3>Diamond</h3>
              <p><ul>
  <li>Unlimited Forecasts</li>
  <li>Mail Alert</li>
  <li>SMS Alert</li>
  <li>%80 Succes Rate</li>
    </ul></p>
      <a href="{% url 'register' %}4/">Buy</a>
    </div>
  </div>
</div>

</html>
