{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      </div>
    <div class="container-fluid ">
        <div class="card shadow">
<ul class="nav nav-pills mb-3 mt--9" id="pills-tab" role="tablist">
  {% for i in Type %}
  <li class="nav-item">
    <a class="nav-link" id="pills-{{i.label}}-tab" data-toggle="pill" href="#pills-{{i.label}}" role="tab" aria-controls="pills-{{i.label}}" aria-selected="false">{{i.label}}</a>
  </li>
  {% endfor %}
</ul>
<div class="tab-content" id="pills-tabContent">
  {% for i in Type %}
  <div class="tab-pane fade" id="pills-{{i.label}}" role="tabpanel" aria-labelledby="pills-{{i.label}}-tab">

          <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">{{ i.label }}</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              {% if Stocks %}
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" data-column="stock" data-order="desc">Stock</th>
                    <th scope="col" data-column="close" data-order="desc">Close</th>
                    <th scope="col" data-column="f_day" data-order="desc">After 24 H</th>
                    <th scope="col" data-column="s_day" data-order="desc">After 48 H</th>
                    <th scope="col" data-column="t_Day" data-order="desc">After 72 H</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                {% for Stock in Stocks %}
                {% if i.id == Stock.financetype_id %}
                  <tr>
                    <th scope="row">
                      <a href="/{{ Stock.id }}/">{{ Stock.Asset_text }}</a>
                    </th>
                    <td>
                      {{ Stock.value }}
                    </td>
                    <td>
                      {% if Stock.f_day > Stock.value%}
                      <i class="fas fa-arrow-up text-success mr-3"></i>
                      {% else %}
                      <i class="fas fa-arrow-down text-warning mr-3"></i>
                      {% endif %}
                      {{ Stock.f_day }}
                    </td>
                    <td>
                      {% if Stock.s_day > Stock.f_day%}
                      <i class="fas fa-arrow-up text-success mr-3"></i>
                      {% else %}
                      <i class="fas fa-arrow-down text-warning mr-3"></i>
                      {% endif %} {{ Stock.s_day }}
                    </td>
                    <td>
                      {% if Stock.t_day > Stock.s_day%}
                      <i class="fas fa-arrow-up text-success mr-3"></i>
                      {% else %}
                      <i class="fas fa-arrow-down text-warning mr-3"></i>
                      {% endif %} {{ Stock.t_day }}
                    </td>
                  </tr>
                {% endif %}
                {% endfor %}
                {% else %}
    <p>No Stocks are available.</p>
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
            </div>

  </div>
  {% endfor %}
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}


{% block javascripts %}


{% endblock javascripts %}